

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
ul {
  font-family: Poppins;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
}
li {
  list-style: none;
  font-family: Poppins;
  font-style: normal;
  font-size: 10px;
  font-weight: 500;
  color: #D1D1D3;
}
#explore {
  font-family: Poppins;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.0357143em;
  background: #FEC820;
  color: rgba(1, 1, 1, 0.8);
}
#bw-footer {
  color: rgba(1, 1, 1, 0.8);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  background: #FDC624;
}
#yellow {
  background: #FDC624;
}
#bw-brand {
  color: rgba(1, 1, 1, 0.8);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  padding-left: 20px;
}
#all-rights, #advert-banner {
  font-family: Poppins;
  font-size: 11px;
  font-weight: 600;
  font-style: normal;
  background: #2C2C36;
  text-align: center;
  min-height: 20px;
}
#footer-mid {
  background: #25252F;
}
#footer-top {
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
  background: #2F2F39;
  text-align: center;
}
#footer-top, #footer-mid, #all-rights {
  color: #FFFFFF;
}
#socials {
  font-family: Poppins;
  font-size: 11px;
  font-weight: 600;
  font-style: normal;
}
.crest {
  width: 15px;
  height: 15px;
}
.comingsoon {
  background: url('./img/under-construction-gif-11.gif');
  min-height: 500px;
}

.wallpaper {

height: 100px;
background: url("./img/wallpaper.png");
color: #FFFFFF;
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 2rem;
}
.title {
  height: 100px;
  background: #25252f9c;
}
.menu-text {
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 12px;
color: #23262B;
text-transform: uppercase;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #fff #fff #FEC820 #fff !important;
  margin-bottom: 2px;
}
.nav-tabs .nav-link {
  border: 1.5px solid transparent;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.navbar-toggler {
  border-color: transparent!important;
}
@media screen and (max-width:767px) {
  .nav-tabs {
    flex-wrap: nowrap !important;
    flex-direction: row;
    overflow-x: scroll !important;
  }

  .nav-item {
    min-width: max-content !important;
  }
  .comingsoon {
    background: url('./img/comingsoon.jpeg');
    background-repeat: no-repeat;
  }
  #footer-top {
    font-size: .511rem;
    font-weight: 200;
  }
  #explore {
    font-size: .6rem;
    font-weight: bold;
  }
}  