

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
ul {
  font-family: Poppins;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
}
li {
  list-style: none;
  font-family: Poppins;
  font-style: normal;
  font-size: 10px;
  font-weight: 500;
  color: #D1D1D3;
}
#explore {
  font-family: Poppins;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.0357143em;
  background: #FEC820;
  color: rgba(1, 1, 1, 0.8);
}
#bw-footer {
  color: rgba(1, 1, 1, 0.8);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  background: #FDC624;
}
#bw-brand {
  color: rgba(1, 1, 1, 0.8);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  padding-left: 20px;
}
#all-rights {
  font-family: Poppins;
  font-size: 11px;
  font-weight: 600;
  font-style: normal;
  background: #2C2C36;
  text-align: center;
}
#footer-mid {
  background: #25252F;
}
#footer-top {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  background: #2F2F39;
  text-align: center;
}
#footer-top, #footer-mid, #all-rights {
  color: #FFFFFF;
}
#socials {
  font-family: Poppins;
  font-size: 11px;
  font-weight: 600;
  font-style: normal;
}

